:root {
    --secondary: #252C34;
    --primary: #F5CB4A;
    --green: #67BD23;
    --light-text: #9CA3AF;
    --white: #fff;
}

a {
    text-decoration: none;
}

.upper-nav {
    background-color: var(--secondary);
    color: var(--white);
    padding-top: 1vh;
    padding-bottom: 1vh;
}

.reg-link,
.reg-link:hover {
    color: var(--primary);
}

.cuurency-selector,
.lang-selector {
    background: transparent;
    color: var(--white);
    border: none;
}

.lower-nav {
    padding-top: 1vh;
    padding-bottom: 1vh;
}

.nav-search-div {
    border-color: var(--primary) !important;
    border-radius: 10px;
    overflow: hidden;
}

.nav-search-div input {
    border: none !important;
    outline: none;
}

.nav-search-btn {
    background: none;
    border: none;
    outline: none;
}

.nav-links-spans a {
    color: #000;
}

.padding-space {
    padding-left: 7vw;
    padding-right: 7vw;
}

@media screen and (max-width : 1550px) {
    .padding-space {
        padding-left: 6vw;
        padding-right: 6vw;
    }

    .nav-search-div {
        width: 10vw !important;
    }
}

@media screen and (max-width : 1250px) {
    .padding-space {
        padding-left: 3vw;
        padding-right: 3vw;
    }

    .nav-search-div {
        width: 4vw !important;
    }

    .nav-img {
        width: 15vw;
    }

    .mob-nav-img {
        width: 25vw;
    }
}

.nav-drop-item {
    border-bottom: 1px solid var(--primary);
}

.user-nav-item {
    color: var(--white);
}

.user-nav-item:hover {
    color: var(--white);
    background: none;
}
.login-link{
    border: 1px solid var(--primary);
    border-radius: 8px;
}
.get-start-link{
    border-radius: 8px;

}
@media screen and (max-width : 999px) {
    .pc-nav {
        display: none;
    }

    .lower-copy {
        text-align: center !important;
        margin-top: 3vh;
    }

    .stores {
        text-align: center !important;
        margin-top: 3vh;
    }

}

@media screen and (max-width : 425px) {
    .stores img {
        width: 100%;
    }
}

@media screen and (min-width : 1000px) {
    .mob-nav {
        display: none;
    }
}
.nav-div{
    position: fixed;
    display: block;
    z-index: 99;
    background: #fff;
    margin-top: 5vh;
}
.nav-bars {
    font-size: 1.2rem;
}

.nav-div {
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
}

.mob-nav-link-text {
    color: #000;
}

.mob-nav-link-cont {
    border-bottom: 1px solid var(--primary);
    padding-top: 2vh;
}

ul {
    list-style: none;
}

/* .content {
    min-height: 450vh;
} */

footer h3 {
    color: var(--primary);
}

footer ul {
    padding-left: 0 !important;
}

footer ul li {
    margin-top: 1vh !important;
}
footer b{
    font-weight: bolder;
}
.copy-rights {
    margin-top: 10vh;
}

/* use (padding-space) to add the custom space at the left and the right of any div */

.item-img-cont .main-img{
    width: 100%;
    height : 50vh; 
}
.item-work-img{
    height: 2vw;
    width: 2vw;
}
.item-address{
    color: #6B7280;
}
.item-plus-icon{
    color : #2563EB
}
.item-check-icon{
    color : #22C55E
}
.plan-cont{
    border-radius: 8px;
    border: 1px solid var(--primary);
    
}
.plan-hr{
    color: var(--primary);
    height: 2px !important;
}
.location-cont{
    background-image: url(../imgs/8ad1c8bfee9d4e9323469f2f4d8ee540.png);
    background-size: cover;
    background-position: center;
    height: 30vh;
    border-radius: 8px;
    align-content: end;
}
.schedule-link{
    cursor: pointer;
    font-size: 1.15rem;
}
.time-table-row{
    border-bottom: 1px solid #FAE5A4;
}
@media screen and (max-width: 999px){
    .time-modal-dialog{
        max-width: 80vw !important;
    }
    .item-work-img{
        height: 5vw;
        width: 5vw;
    }
}

@media screen and (max-width: 745px){
    .time-modal-dialog{
        max-width: 100vw !important;
    }
}
/* slider */
.item-img-slider, .item-rev-slider{
    position: relative;
    /* Add position relative */
    width: 99vw;
    overflow-x: scroll;
    white-space: nowrap;
    scrollbar-width: none;
}

.item-img-slider img , .rev {
    width: 25%;
    height: 30vh;
    display: inline-block;
    vertical-align: top;
    padding-left: 10px;
}
.rev{
    width: 28%;
}
@media screen and (max-width : 768px) {
    .item-img-slider img , .rev{
        width: 70%;
        height: 25vh;
    }
}

.item-img-slider:before,
.item-rev-slider:before,
.item-rev-slider:after,
.item-img-slider:after {
    content: '';
    width: 6%;
    /* Half the width of one image */
    display: inline-block;
}

.item-img-slider:before img {
    visibility: hidden;
    /* Hide the first "half image 0" by default */
}

.item-img-prev-btn,
.item-img-next-btn {
    cursor: pointer;
}
.item-review-cont , .item-images-cont{
    overflow: hidden;
}
.rev{
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; */
    text-wrap: wrap;
    white-space: pre-wrap;
    height: auto;
    /* height: 98%; */
}
.rev-content{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 8px;
    height: auto;
}
.rev h6{
   line-height: 2rem; 
}
.fa-star{
    color:var(--primary)
}